<div class="d-flex justify-content-center align-items-center flex-column mb-4">
  <p class="fw-bolder mb-4 mt-5" style="font-size: xx-large;">
    <span style="color: black; margin-right: 5px;">Verification</span>
    <span style="color: rgba(68, 85, 59, 1);">Center</span>
  </p>
  <div class="container-custom">
    <h3>ID Verification</h3>
    <div class="image-section">
      <h6>Instructions</h6>
      <div class="content">
        <p>This is some text below the heading, aligned to the left side of the container.</p>
      </div>
      <div class="images d-flex flex-wrap justify-content-between">
        <div class="image-upload mb-2 ">
          <button *ngIf="!selectedImage1" class="btn btn-outline-success me-2" (click)="fileInput1.click()">+</button>
          <input #fileInput1 id="fileInput1" type="file" (change)="onFileSelected($event, 'image1')" style="display: none;" />
          <img *ngIf="selectedImage1" [src]="selectedImage1" alt="Image" class="uploaded-image "/>
        </div>
        <div class="image-upload">
          <button *ngIf="!selectedImage2" class="btn btn-outline-success" (click)="fileInput2.click()">+</button>
          <input #fileInput2 id="fileInput2" type="file" (change)="onFileSelected($event, 'image2')" style="display: none;" />
          <img *ngIf="selectedImage2" [src]="selectedImage2" alt="Image" class="uploaded-image "/>
        </div>
      </div>
    </div>
    <div class="button-wrapper">
      <button class="submit-button" (click)="submitForm()">Submit</button>
    </div>
  </div>
</div>
