<div class="hero">
    <nav class="navbar">
        <div class="navbar">
          <a href=""> <img src="assets/Logo.svg" alt="Logo" class="navbar-logo"></a> 
            <div class="search-bar">
                <div class="search-input">
                    <img src="assets/Search icon.svg" alt="Search Icon">
                    <input type="text" class="search" placeholder="Search...">
                </div>
                <button>Advance Search</button>
            </div>
        </div>
        <div class="navbar">
            <ul class="navbar-list">
                <li><a href="/allListings">ALL LISTINGS</a></li>
                <li><a href="">CONTACT US</a></li>
                <li><a href="">FAQ</a></li>
                <li><a href=""><img src="assets/Notification icon.svg" alt="Bell"></a></li>
                <li><a href="" class="products-button">Sell Products</a></li>
                <li><a href="" data-bs-toggle="modal" data-bs-target="#profileModal"><img src="assets/Navbar2img.svg" alt="img" style="width: 40px; height: 40px;" ></a></li>
            </ul>
        </div>
    </nav>
</div>



