<nav class="navbar  navbar-expand-lg">
    <button class="navbar-toggler" data-bs-toggle="modal" data-bs-target="#headerModal">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <div class="search-bar ms-3">
        <div class="search-input">
          <img src="assets/Search icon.svg" alt="img" />
          <input
            type="text"
            class="search"
            placeholder="Search"
            [(ngModel)]="searchQuery"
            (keydown.enter)="searchProduct()"
          />
        </div>
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
      </div>
      <ul class="navbar-nav text-white mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/allListings" *ngIf="!isLoggedIn" data-bs-toggle="modal" data-bs-target="#regModal">ALL LISTINGS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contactUs">CONTACT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faq">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sellProducts" *ngIf="!isLoggedIn" data-bs-toggle="modal" data-bs-target="#regModal">Sell Products </a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link login-link" href="" data-bs-toggle="modal" data-bs-target="#regModal">Login</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link login-link" href="" data-bs-toggle="modal" data-bs-target="#profileModal">
            <img src="assets/Navbar2img.svg" alt="img" style="width: 30px; height: 30px;" />
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <app-profile-modal />
  <app-header-modal />
  <app-registration-page />
  