<nav class="navbar navbar-expand-lg">
          <button class="navbar-toggler" data-bs-toggle="modal" data-bs-target="#headerModal"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse">
                <div class="search-bar ms-3">
                    <div class="search-input">
                        <img src="assets/Search icon.svg" alt="Search Icon">
                        <input type="text" class="search" placeholder="Search...">
                    </div>
                </div>
                <ul class="navbar-nav text-white mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/allListings">ALL LISTINGS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contactUs">CONTACT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/faq">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sellProducts">Sell Products</a>
                    </li>
                </ul>
            </div>
</nav>
<app-header-modal/>