.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header, .text-center {
    text-align: center;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-row {
    margin-bottom: 15px;
    width: 100%;
    max-width: 600px; /* Adjust to your desired form width */
}

.custom-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
}

textarea.custom-input {
    resize: none;
}

.form-check {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-left: 5px; /* Adjust spacing between checkbox and label */
}

.custom-submit-button {
    width: 100%;
    max-width: 200px;
    padding: 10px 60px;
    background: rgba(68, 85, 59, 1);
    border-radius: 5px;
}

.contact-info {
    gap: 20px;
}

.icon {
    width: 30px;
    height: 30px;
}

@media (max-width: 767px) {
    .contact-info .me-4 {
        margin-right: 0;
    }
    .custom-submit-button {
        width: 100%;
    }
}
