<div class="modal fade" id="logInModal" tabindex="-1" aria-labelledby="logInModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background: transparent; width: 300px;">
      <div class="modal-body p-0">
        <div class="fullForm">
          <div class="form-container">
            <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="needs-validation">
                <h2>Login</h2>
                <p>Let's get started</p>
              <div class="form-group">
                <input type="email" id="loginEmail" name="email" class="form-control" [(ngModel)]="data.email" minlength="10" maxlength="30" required
                  placeholder="Email" />
              </div>
              <div class="form-group">
                <input type="password" id="loginPassword" name="password" class="form-control" [(ngModel)]="data.password" minlength="8" maxlength="20" required
                  placeholder="Password (8-20 long)" />
              </div>
              <button type="submit" class="mt-4 mb-4">Submit</button>
              <p class="centered">OR</p>
              <div class="signup-options">
                <p>
                  <a [href]="googleLogUrl"><img src="assets/google.svg" alt="google" /> Sign up with Google</a>
                </p>
                <p>
                  <a [href]="facebookLogUrl"><img src="assets/facebook.svg" alt="facebook" /> Sign up with Facebook</a>
                </p>
              </div>
              <p>
                Create an account
                <a href="" class="link-clr" data-bs-toggle="modal" data-bs-target="#signUpModal" data-bs-dismiss="modal">Register.</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>