.card {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    width: 329px;
}

.card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.rating-box .bi-star-fill {
    color: gold;
    font-size: 1rem;
}

.like-button {
    background: none;
    border: none;
    padding: 0;
    margin-left: 10px;
    cursor: pointer;
}

.like-button .bi-heart {
    font-size: 1.5rem;
    color: #d9534f;
}

.like-button .bi-heart-fill {
    color: #d9534f;
}

.main-img {
    max-height: 200px;
    object-fit: cover;
    width: 100%;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 10px;
}

.car-details {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.thumb-img {
    max-width: 50px;
    max-height: 50px;
    border: none;
    padding: 0;
    margin-right: 10px;
}

.thumbnails-section div {
    flex: 1;
    text-align: left;
    display: flex;
    align-items: center;
}

.filter-container {
    width: 338px;
    height: 1020px;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
}

.reset-btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.price-range {
    display: flex;
    flex-direction: column;
}

.price-range label {
    margin-bottom: 10px;
}

.price-display {
    font-size: 1.2rem;
    margin-top: 10px;
}

.line {
    border-bottom: 1px solid #dee2e6;
    margin-top: 20px;
}

.condition {
    display: flex;
    flex-direction: column;
}

.condition label {
    margin-bottom: 10px;
}

.condition-buttons {
    display: flex;
    gap: 10px;
}

.condition-btn {
    padding: 6px 20px;
    border-radius: 20px;
    border: none;
    color: rgba(49, 49, 49, 1);
    background-color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.condition-btn:hover {
    background-color: rgba(68, 85, 59, 1);
    color: white;
}

.date-range {
    display: flex;
    flex-direction: column;
}

.date-input {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.date-input input[type="date"] {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: rgba(120, 120, 120, 1);
}

.categories {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
}

.categories label {
    margin-right: 10px;
}

.categories select {
    padding: 5px;
    font-size: 16px;
    width: 70%;
    border-radius: 4px;
}

.categories {
    margin-top: 20px;
}

.categories label {
    display: block;
    margin-bottom: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-6 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    color: rgba(0, 0, 0, 1);
}

.col-6 input[type="checkbox"] {
    margin-right: 10px;
}

.col-6 label {
    margin: 0;
    font-size: 1rem;
    color: rgba(49, 49, 49, 1);
}