<div class="modal fade" id="addCardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center" style="justify-content:center !important;">
        <p class="modal-title" style="font-size: 30px; font-weight: 500;">
          <span style="color: black; margin-right: 5px;">Add</span>
          <span style="color: rgba(68, 85, 59, 1);">Card</span>
        </p>
      </div>
      <div class="modal-body">
        <h6>Instructions:</h6>
        <p style="font-size: 12px;">Please provide all the required card details to proceed with the transaction. Make sure to enter the information accurately to avoid any issues.</p>
        <form [formGroup]="addCardForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="card-name" class="col-form-label">Name on Card</label>
            <input type="text" class="form-control" id="card-name" formControlName="name" placeholder="Nabeel khan">
            <div *ngIf="addCardForm.get('name')?.errors && addCardForm.get('name')?.touched">
              <span class="text-danger">{{ addCardForm.get('name')?.errors?.['required'] ? 'Name is required.' : '' }}</span>
              <span class="text-danger">{{ addCardForm.get('name')?.errors?.['minlength'] ? 'Minimum length is 3 characters.' : '' }}</span>
            </div>
          </div>
          <div class="mb-3">
            <label for="card-number" class="col-form-label">Card Number</label>
            <input type="text" class="form-control" id="card-number" formControlName="cardNumber" inputmode="numeric" placeholder="123.....">
            <div *ngIf="addCardForm.get('cardNumber')?.errors && addCardForm.get('cardNumber')?.touched">
              <span class="text-danger">{{ addCardForm.get('cardNumber')?.errors?.['required'] ? 'Card Number is required.' : '' }}</span>
              <span class="text-danger">{{ addCardForm.get('cardNumber')?.errors?.['pattern'] ? 'Card Number must contain only digits.' : '' }}</span>
              <span class="text-danger">{{ addCardForm.get('cardNumber')?.errors?.['minlength'] ? 'Card Number must be at least 14 digits.' : '' }}</span>
              <span class="text-danger">{{ addCardForm.get('cardNumber')?.errors?.['maxlength'] ? 'Card Number cannot exceed 17 digits.' : '' }}</span>
            
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="cvv" class="col-form-label">CVV</label>
              <input type="text" class="form-control" id="cvv" formControlName="cvv" inputmode="numeric" placeholder="454">
              <div *ngIf="addCardForm.get('cvv')?.errors && addCardForm.get('cvv')?.touched">
                <span class="text-danger">{{ addCardForm.get('cvv')?.errors?.['required'] ? 'CVV is required.' : '' }}</span>
                <span class="text-danger">{{ addCardForm.get('cvv')?.errors?.['pattern'] ? 'CVV must contain only digits.' : '' }}</span>
              <span class="text-danger">{{ addCardForm.get('cvv')?.errors?.['minlength'] ? 'CVV must be at least 3 digits.' : '' }}</span>
              <span class="text-danger">{{ addCardForm.get('cvv')?.errors?.['maxlength'] ? 'CVV cannot exceed 3 digits.' : '' }}</span>
             </div>
            </div>
            <div class="col-md-6">
              <label for="expiry-date" class="col-form-label">Expiry Date</label>
              <input type="text" class="form-control" id="expiry-date" formControlName="expiryDate" inputmode="numeric" placeholder="05/24">
              <div *ngIf="addCardForm.get('expiryDate')?.errors && addCardForm.get('expiryDate')?.touched">
                <span class="text-danger">{{ addCardForm.get('expiryDate')?.errors?.['required'] ? 'Expiry Date is required.' : '' }}</span>
                <span class="text-danger">{{ addCardForm.get('expiryDate')?.errors?.['pattern'] ? 'Expiry Date must be in MM/YY format.' : '' }}</span>
                <span class="text-danger">{{ addCardForm.get('expiryDate')?.errors?.['minlength'] ? 'Expiry Date must be at least 5 characters.' : '' }}</span>
                <span class="text-danger">{{ addCardForm.get('expiryDate')?.errors?.['maxlength'] ? 'Expiry Date cannot exceed 5 characters.' : '' }}</span>
              </div>
            </div>
            
          </div>
          <div class="d-flex justify-content-end gap-2">
            <button type="submit" class="btn submitbtn">Add Card</button>
            <button type="button" class="btn" data-bs-dismiss="modal" style="background-color: rgba(68, 85, 59, 1); color: white; border-radius: 5px;">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
