<div class="feature mb-xxl-5">
    <p>Features</p>
<div class="photo-gallery container d-flex flex-row flex-wrap">
    <div class="photo-item">
        <img src="assets/24by7.jpg" alt="Image 1">
        <p>24/7 Available</p>
    </div>
    <div class="photo-item">
        <img src="assets/gas.jpg" alt="Image 2">
        <p>Petrlo/Diesel</p>
    </div>
    <div class="photo-item">
        <img src="assets/carwash.png" alt="Image 3">
        <p>Wash Service</p>
    </div>
    <div class="photo-item">
        <img src="assets/petrol.jpeg" alt="Image 4">
        <p>278.7/ltr</p>
    </div>
    <div class="photo-item">
        <img src="assets/tacker.png" alt="Image 5">
        <p>323.5/ltr</p>
    </div>
    <div class="photo-item">
        <img src="assets/mile.png" alt="Image 6">
        <p>km/ml</p>
    </div>
</div>
</div>