<div class="hero">
    <nav class="navbar">
        <div class="navbar-left">
            <img src="assets/Logo.svg" alt="Logo" class="navbar-logo">
        </div>
        <div class="navbar-right">
            <ul class="navbar-list">
                <li><a href="/allListings">ALL LISTINGS</a></li>
                <li><a href="/contactUs">CONTACT US</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/"><img src="assets/Notification icon.svg" alt="Bell"></a></li>
                <li><a href="/sellProducts" class="products-button">Sell Products</a></li>
                <li><a href="" class="login-link" data-bs-toggle="modal" data-bs-target="#logInModal">Login</a></li>
            </ul>
        </div>
    </nav>
    <div class="hero_section">
        <div class="hero-content">
            <p>Pakistan Biggest Auction Website</p>
            <div class="search-bar">
                <div class="search-input">
                    <img src="assets/Search icon.svg" alt="Search Icon">
                    <input type="text" class="search" placeholder="Search...">
                </div>
                <button>Advance Search</button>
            </div>
        </div>
    </div>
</div> 


<app-log-in/>
<app-sign-up/>
<app-live-listing/>
<app-works-section/>
<app-product-section/>
<app-features/>
 