<!-- Sign Up Modal -->
<div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="signUpModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background: transparent;  width: 300px;">
      <div class="modal-body p-0">
        <div class="fullForm">
          <div class="form-container">
            <form class="needs-validation" (ngSubmit)="onSubmit(form)" #form="ngForm">
              <h2>SignUp</h2>
              <p>Create an account</p>
              <div class="form-group has-validation">
                <input type="text" id="fname" name="fName" class="form-control" [(ngModel)]="data.fName" required
                  placeholder="Enter first name" minlength="3" maxlength="20"/>
              </div>
              <div class="form-group">
                <input type="text" id="lName" name="lName" class="form-control" [(ngModel)]="data.lName" required
                  placeholder="Enter last name" minlength="3" maxlength="20" />
              </div>
              <div class="form-group">
                <input type="email" id="email" name="email" class="form-control" [(ngModel)]="data.email" required
                  placeholder="Enter email" minlength="10" maxlength="30"/>
              </div>
              <div class="form-group">
                <input type="password" id="password" name="password" class="form-control" [(ngModel)]="data.password" required
                  placeholder="Password (8-20 long)" minlength="8" maxlength="20"/>
              </div>
              <div class="form-check d-flex flex-row">
                <input type="checkbox" id="terms" name="terms" [(ngModel)]="agreeTerms" class="form-check-input me-3" required/>
                <p class="">I agree to the terms & conditions</p>
              </div>
              <button type="submit">Create an account</button>
              <p>
                Already have an account?
                <a href="" class="link-clr" data-bs-toggle="modal" data-bs-target="#logInModal" data-bs-dismiss="modal">Sign In</a>
              </p>
            </form>
          </div>
          <li *ngFor="let value of myValues">
            First Name: {{ value.fName }}<br />
            Last Name: {{ value.lName }}<br />
            Email: {{ value.email }}<br />
            Password: {{ value.password }}
          </li>
        </div>
      </div>
    </div>
  </div>
</div>