<div class="Listings">
  <div class="fw-bold align-items-center text-center" style="font-size: 24px;">
    <p>Feature Products</p>
  </div>
  <div class="card-gallery">
    <div class="card" *ngFor="let item of cards; index as i">
      <img [src]="item.image" alt="img" class="card-image" />
      <div class="cardDetails">
        <p><b>{{item.carname}}</b></p>
        <p style="color: rgba(13, 110, 253, 1);">Product ID: {{item.productid}}</p>
        <p>Initial Price: {{item.price}}</p>
        <p>City: {{item.city}}</p>
      </div>
      <a href="/details"><button class="viewdetails" (click)="localCardData(item)">View Details</button></a>
    </div>
  </div>
</div>