<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="logInModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background: transparent; width: 316px;">
            <div class="modal-body p-0">
                <div class="d-flex flex-row">
                    <div class="filter-container">
                        <div class="header-row">
                            <h2>Filter:</h2>
                            <button class="reset-btn" data-bs-toggle="modal" data-bs-target="#logInModal">Reset
                                All</button>
                        </div>
                        <div class="line"></div>
                        <div class=" d-flex flex-column">
                            <label for="priceRange">Price Range :</label>
                            <mat-slider min="200" max="500">
                                <input value="300" matSliderStartThumb/>
                                <input value="400" matSliderEndThumb/>
                            </mat-slider>
                        </div>
                        <div class="price-display">
                            <span>Set your price:
                                <input type="number" id="priceRange" min="10000" max="100000" style="width: 100px" />
                            </span>
                        </div>
                        <div class="line"></div>
                        <div class="condition">
                            <label>Condition :</label>
                            <div class="condition-buttons">
                                <button class="condition-btn">New</button>
                                <button class="condition-btn">Used</button>
                                <button class="condition-btn">All</button>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="date-range">

                            <label>Date :</label>
                            <div class="date-input ">
                                <input type="date" id="startDate" />
                                <input type="date" id="endDate" />
                            </div>
                            <div class="line"></div>
                            <div class="categories mt-4">
                                <label for="carCategory">Categories:</label>
                                <select id="carCategory">
                                    <option value="autoCar">Automatic</option>
                                    <option value="manualCar">Manual</option>
                                </select>
                            </div>
                            <div class="line"></div>
                        </div>
                        <div class="mb-4">
                            <label for="location">Location:</label>
                            <div class="row ">
                                <div class="col-6">
                                    <input type="checkbox" id="islamabad"/>
                                    <label for="islamabad">Islamabad</label>
                                </div>
                                <div class="col-6">
                                    <input type="checkbox" id="lahore"/>
                                    <label for="lahore">Lahore</label>
                                </div>
                                <div class="col-6">
                                    <input type="checkbox" id="karachi"/>
                                    <label for="karachi">Karachi</label>
                                </div>
                                <div class="col-6">
                                    <input type="checkbox" id="quetta"/>
                                    <label for="quetta">Quetta</label>
                                </div>
                                <div class="col-6">
                                    <input type="checkbox" id="peshawar"/>
                                    <label for="peshawar">Peshawar</label>
                                </div>
                                <div class="col-6">
                                    <input type="checkbox" id="muzafarabad"/>
                                    <label for="muzafarabad">MuzafarAbad</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>