.faq-heading {
    cursor: pointer;
    transition: background-color 0.3s;
}

.faq-heading:hover {
    background-color: #f8f9fa;
}

.faq-content {
    margin-top: 1rem;
}
.email-section{
    border-radius: 5px; 
    background:rgba(212, 212, 212, 0.5);
    width: 180px;
}
.container{
    justify-content: center;
}