.container {
    display: flex;
    width: 1334px;
    height: 520px;
    background: rgba(248, 249, 250, 1);
    
  }
  .work-stn p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 60px;
}
  .text-side {
    padding: 20px;
  }
  
  .text1{
    width: 400px;
    height: 121px;
    box-shadow: 0px 0px 15px 0px rgba(29, 29, 29, 0.1);
    border-radius: 10px;
    padding: 20px 41px 20px 35px;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;

  }
  .text2{
    margin-top: 10px;
    width: 400px;
    height: 81px;
    padding: 20px 41px 20px 35px;
    font-family: Raleway;
font-size: 14px;
font-weight: 400;
line-height: 22px;
text-align: left;



  }
  .text3{
    
    margin-top: 60px;
    width: 305px;
    height: 59px;
    padding: 20px 41px 20px 35px;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    
  }
  
  .work-btn{   
    border-radius: 10px;
    height: 44px;
    width: 183px;
    color: white;
    background: rgba(68, 85, 59, 1);
    margin: 65px 0px 0px 39px;
  }
  .work-btn:hover{
    background: green;
    color: white;
    cursor: pointer;
  }