.container {
    display: flex;
    width: auto;
    padding: 0px;
    justify-content: center;
    background: rgba(248, 249, 250, 1);
  }
  .text-side {
    padding: 20px;
  }
  .text1{
    box-shadow: 0px 0px 15px 0px rgba(29, 29, 29, 0.1);
    border-radius: 10px;
    padding: 20px 41px 20px 35px;
    max-width: 390px;
  }
  .work-btn{   
    border-radius: 10px;
    height: 44px;
    width: 183px;
    color: white;
    background: rgba(68, 85, 59, 1);
    margin: 56px 0px 0px 24px;
    border:none
  }
  .work-btn:hover{
    background: green;
    color: white;
    cursor: pointer;
  }

  .large-image {
    display: block;
    max-width: 100%;
}
@media (max-width: 800px) {
    .large-image {
        display: none;
    }
}