<div class="d-flex flex-row mt-3 ms-5" style="font-size: 25px;">
    <a href="/" style="text-decoration: none; color: black;">&#8672; &#160;Home&#160;/&#160;</a>
    <p style="color: #AAAAAA;">Profile Setting</p>
</div>
<div class="container">
    <div class="header mb-5"> 
        <p class="d-flex justify-content-center fw-bolder mb-4 mt-5" style="font-size: xx-large;">
            <span style="color: black; margin-right: 5px;">Profile</span>
            <span style="color: rgba(68, 85, 59, 1);">Setting</span>
        </p>
    </div>

    
    <form [formGroup]="profileSetForm" (ngSubmit)="onSubmit()" class="form-content mt-5">
        <div class="picture-section d-flex justify-content-center mb-5 position-relative">
            <img src="assets/Navbar2img.svg" alt="Profile Picture" class="profile-picture"/>
            <input type="file" id="profileImageInput" class="d-none" (change)="onImageChange($event)">
            <label for="profileImageInput" class="camera-icon position-absolute d-flex">
                <img src="assets/camera-icon.svg" alt="Upload Image"/>
            </label>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <input type="text" class="form-control custom-input" id="name" formControlName="name" placeholder="Name"/>
                <div *ngIf="profileSetForm.get('name')?.errors && profileSetForm.get('name')?.touched">
                    <span class="text-danger">{{ profileSetForm.get('name')?.errors?.['required'] ? 'Name is required.' : '' }}</span>
                    <span class="text-danger">{{ profileSetForm.get('name')?.errors?.['minlength'] ? 'Minimum length is 3 characters.' : '' }}</span>
                    
                    <span class="text-danger">{{ profileSetForm.get('name')?.errors?.['maxlength'] ? 'Maximum length is 20 characters.' : '' }}</span>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-12">
                <input type="number" class="form-control custom-input" id="phone" formControlName="phoneNo" placeholder="Phone"/>
                <div *ngIf="profileSetForm.get('phoneNo')?.invalid && profileSetForm.get('phoneNo')?.touched" class="text-danger">
                    <span class="text-danger">{{ profileSetForm.get('phoneNo')?.errors?.['required'] ? 'Phone No is required.' : '' }}</span>
                    <span class="text-danger">{{ profileSetForm.get('phoneNo')?.errors?.['min'] ? 'Minimum length is 10 characters.' : '' }}</span>
                    <span class="text-danger">{{ profileSetForm.get('phoneNo')?.errors?.['max'] ? 'Maximum length is 14 characters.' : '' }}</span>
                </div>
            </div>
        </div>
        
        <div class="form-row">
            <div class="col-md-12">
                <input type="text" class="form-control custom-input" id="address" formControlName="address" placeholder="Address"/>
                <div *ngIf="profileSetForm.get('address')?.invalid && profileSetForm.get('address')?.touched" class="text-danger">
                    <span class="text-danger">{{ profileSetForm.get('address')?.errors?.['required'] ? 'Address is required.' : '' }}</span>
                    <span class="text-danger">{{ profileSetForm.get('address')?.errors?.['minlength'] ? 'Minimum length is 3 characters.' : '' }}</span>
                    <span class="text-danger">{{ profileSetForm.get('address')?.errors?.['maxlength'] ? 'Maximum length is 20 characters.' : '' }}</span>
                </div>
            </div>
        </div>
    
        <div class="form-row">
            <div class="col-md-12">
                <input type="email" class="form-control custom-input" id="city" formControlName="city" placeholder="City"/>
                <div *ngIf="profileSetForm.get('city')?.invalid && profileSetForm.get('city')?.touched">
                    <span class="text-danger">{{ profileSetForm.get('city')?.errors?.['required'] ? 'City is required.' : '' }}</span>
                    <span class="text-danger">{{ profileSetForm.get('city')?.errors?.['minlength'] ? 'Minimum length is 3 characters.' : '' }}</span>
                    <span class="text-danger">{{ profileSetForm.get('city')?.errors?.['maxlength'] ? 'Minimum length is 20 characters.' : '' }}</span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <input type="email" class="form-control custom-input" id="country" formControlName="country" placeholder="Country"/>
                <div *ngIf="profileSetForm.get('country')?.invalid && profileSetForm.get('country')?.touched">
                    <span class="text-danger">{{ profileSetForm.get('country')?.errors?.['required'] ? 'Country is required.' : '' }}</span>
                    <span class="text-danger">{{ profileSetForm.get('country')?.errors?.['minlength'] ? 'Minimum length is 3 characters.' : '' }}</span>
                    <span class="text-danger">{{ profileSetForm.get('country')?.errors?.['maxlength'] ? 'Maximum length is 20 characters.' : '' }}</span>
                </div>
            </div>
        </div>
    
        <div class="submit-section">
            <button type="submit" class="btn btn-success mb-5 mt-4" style="width: 200px; background: rgba(68, 85, 59, 1);">SUBMIT TO VERIFY</button>
        </div>
    </form>
</div>