<div class="d-flex flex-row mt-3 ms-5" style="font-size: 25px;">
    <a href="/" style="text-decoration: none; color: black;">&#8672; &#160;Home&#160;/&#160;</a>
    <p style="color: #AAAAAA;">Profile Setting</p>
</div>
<div class="container">
    <div class="header mb-5"> 
        <p class="d-flex justify-content-center fw-bolder mb-4 mt-5" style="font-size: xx-large;">
            <span style="color: black; margin-right: 5px;">Profile</span>
            <span style="color: rgba(68, 85, 59, 1);">Setting</span>
        </p>
    </div>    
    <form [formGroup]="profileSetForm" (ngSubmit)="onSubmit()" class="form-content mt-5">
        <div class="picture-section d-flex justify-content-center mb-5 position-relative">
            <img src="assets/Navbar2img.svg" alt="Profile Picture" class="profile-picture"/>
            <input type="file" id="profileImageInput" class="d-none" (change)="onImageChange($event)">
            <label for="profileImageInput" class="camera-icon position-absolute d-flex">
                <img src="assets/camera-icon.svg" alt="Upload Image"/>
            </label>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <label>Name</label>
                <input type="text" class="form-control custom-input" id="Name" formControlName="name" placeholder="Name"/>
                <div *ngIf="profileSetForm.get('name')?.errors && profileSetForm.get('name')?.touched">
                    <span class="text-danger">{{ profileSetForm.get('name')?.errors?.['required'] ? 'Name is required.' : '' }}</span>
                    <span class="text-danger">{{ profileSetForm.get('name')?.errors?.['minlength'] ? 'Minimum length is 3 characters.' : '' }}</span>
                    <span class="text-danger">{{ profileSetForm.get('name')?.errors?.['maxlength'] ? 'Maximum length is 20 characters.' : '' }}</span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <label>Email</label>
                <input type="email" class="form-control custom-input" id="Email" formControlName="email" placeholder="Email"/>
                <div *ngIf="profileSetForm.get('email')?.invalid && profileSetForm.get('email')?.touched">
                    <span class="text-danger">{{ profileSetForm.get('email')?.errors?.['required'] ? 'Email is required.' : '' }}</span>
                    <span class="text-danger">{{ profileSetForm.get('email')?.errors?.['minlength'] ? 'Minimum length is 15 characters.' : '' }}</span>
                    <span class="text-danger">{{ profileSetForm.get('email')?.errors?.['maxlength'] ? 'Maximum length is 35 characters.' : '' }}</span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <label>Phone</label>
                <input type="number" class="form-control custom-input" id="phone" formControlName="phone" placeholder="Phone"/>
                <div *ngIf="profileSetForm.get('phone')?.invalid && profileSetForm.get('phone')?.touched" class="text-danger">
                    <span class="text-danger">{{ profileSetForm.get('phone')?.errors?.['required'] ? 'Phone No is required.' : '' }}</span>
                    <span class="text-danger">{{ profileSetForm.get('phone')?.errors?.['min'] ? 'Minimum length is 10 characters.' : '' }}</span>
                    <span class="text-danger">{{ profileSetForm.get('phone')?.errors?.['max'] ? 'Maximum length is 14 characters.' : '' }}</span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <label>CNIC</label>
                <input type="number" class="form-control custom-input" id="cnic" formControlName="cnic" placeholder="CNIC"/>
                <div *ngIf="profileSetForm.get('cnic')?.invalid && profileSetForm.get('cnic')?.touched" class="text-danger">
                    <span class="text-danger">{{ profileSetForm.get('cnic')?.errors?.['required'] ? 'Address is required.' : '' }}</span>
                    <span class="text-danger">{{ profileSetForm.get('cnic')?.errors?.['min'] ? 'Minimum length is 10 characters.' : '' }}</span>
                    <span class="text-danger">{{ profileSetForm.get('cnic')?.errors?.['max'] ? 'Maximum length is 14 characters.' : '' }}</span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <label>City</label>
                <input type="text" class="form-control custom-input" id="city" formControlName="city" placeholder="City"/>
                <div *ngIf="profileSetForm.get('city')?.invalid && profileSetForm.get('city')?.touched">
                    <span class="text-danger">{{ profileSetForm.get('city')?.errors?.['required'] ? 'City is required.' : '' }}</span>
                    <span class="text-danger">{{ profileSetForm.get('city')?.errors?.['minlength'] ? 'Minimum length is 3 characters.' : '' }}</span>
                    <span class="text-danger">{{ profileSetForm.get('city')?.errors?.['maxlength'] ? 'Maximum length is 20 characters.' : '' }}</span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <label>Password</label>
                <input type="password" class="form-control custom-input" id="password" formControlName="password" placeholder="Password"/>
                <div *ngIf="profileSetForm.get('password')?.invalid && profileSetForm.get('password')?.touched">
                    <span class="text-danger">{{ profileSetForm.get('password')?.errors?.['required'] ? 'City is required.' : '' }}</span>
                    <span class="text-danger">{{ profileSetForm.get('password')?.errors?.['minlength'] ? 'Minimum length is 8 characters.' : '' }}</span>
                    <span class="text-danger">{{ profileSetForm.get('password')?.errors?.['maxlength'] ? 'Maximum length is 20 characters.' : '' }}</span>
                </div>
            </div>
        </div>
        <div class="submit-section">
            <button type="submit" class="btn btn-success mb-5 mt-4" style="width: 200px; background: rgba(68, 85, 59, 1);">Update Profile </button>
        </div>
    </form>
</div>