<div class="card">
    <img [src]="image" alt="img" class="card-image" />
    <div class="cardDetails">
        <p><b>{{carname}}</b></p>
        <p style="color: rgba(13, 110, 253, 1);">Product ID :   {{productid}}</p>
        <p>Current Bid :  {{price}}</p>
        <p>City :  {{city}}</p>
    </div>
    <button class="viewdetails" *ngIf="isLoggedIn" data-bs-toggle="modal" data-bs-target="#setBidModal">Place Bid</button>
    <button class="viewdetails" *ngIf="!isLoggedIn" data-bs-toggle="modal" data-bs-target="#regModal">Place Bid</button>
</div>
<app-set-bid [productid]="productid"/>