<div class="container d-flex flex-column align-items-center">
    <div class="header mb-5"> 
        <p class="d-flex justify-content-center fw-bolder mb-4 mt-5" style="font-size: xx-large;">
            <span style="color: black; margin-right: 5px;">Payment</span>
            <span style="color: rgba(68, 85, 59, 1);">Setting</span>
        </p>
        <p>Some text below the heading, centered on the page. Some text below the heading, centered on the page.</p>
    </div>

    <div class="d-flex justify-content-center align-items-center mb-4">
        <button type="button" class="cardbtn " data-bs-toggle="modal" data-bs-target="#addCardModal" >Add Card</button>
        <div style="width: 1px; height: 40px; background-color: #000; margin: 0 15px;"></div>
        <button type="button" class="cardbtn " data-bs-toggle="modal" data-bs-target="#addMethodModal">Add Method</button>
    </div>
</div>

<app-add-card/>
<app-add-method/>