<div class="d-flex flex-row mt-3 ms-5" style="font-size: 25px;">
    <a href="/" style="text-decoration: none; color: black;">&#8672; &#160;Home&#160;/&#160;</a>
    <p style="color: #AAAAAA;">Payment Settings</p>
</div>
<div class="container">
    <div class="header mb-5 text-center">
        <p class="fw-bolder mb-4 mt-5" style="font-size: xx-large;">
            <span style="color: black; margin-right: 5px;">Payment</span>
            <span style="color: rgba(68, 85, 59, 1);">Setting</span>
        </p>
        <p>Some text below the heading, centered on the page. Some text below the heading, centered on the page.</p>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column">
        <!-- <div *ngIf="addedCards.length > 0" class="mb-4"> -->
            <h3>Added Card Details:</h3>
            <!-- <div *ngFor="let card of addedCards; let i = index" class="card mb-3 p-3 position-relative" style="width: 320px;">
                <p><strong>Name:</strong> {{ card.name }}</p>
                <p><strong>Card Number:</strong> {{ card.card_number }}</p>
                <p><strong>CVV:</strong> {{ card.cvv }}</p>
                <p><strong>Expiry Date:</strong> {{ card.expiry_date }}</p>
            </div> -->
        <!-- </div> -->
        <div *ngIf="paymentSettings.length > 0" class="mb-4">
            <div *ngFor="let item of paymentSettings ;let i = index" class="card mb-3 p-3" style="width: 320px;">
                <button (click)="deleteItem(i, item.payment_id)" class="btn position-absolute" style="top: 0px; right: 0px; color: white;"> <i class="bi bi-trash"></i> </button>  
              <p><strong>Name:</strong> {{ item.name }}</p>
              <p><strong>Card Number:</strong> {{ item.card_number }}</p>
              <p><strong>CVV:</strong> {{ item.cvv }}</p>
              <p><strong>Expiry Date:</strong> {{ item.expiry_date }}</p>
            </div>
          </div>
        <button type="button" class="cardbtn" data-bs-toggle="modal" data-bs-target="#addCardModal">Add Card</button>
    </div>
    
<app-add-card />