.container {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    justify-content: space-between;
    padding-bottom: 20px;
}

.cardbtn {
    border: 1px solid black;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    background: rgba(68, 85, 59, 1);
    color: white;
    width: 140px;
}

.card {
    background: rgb(69, 56, 56) !important;
    color: white;
    border: none;
}

.deleteBtn {
    background: red;
    border: none;
    border-radius: 10px;
    width: 85px;
    height: 40px;
    margin-left: 13px;
}

@media (max-width: 800px) {
    #center-line {
        display: none;
    }
}

.btn:hover {
    background: red;
}