
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">POP UP</button>

<div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Set Auto Bid</h1>
      </div>
      <div class="modal-body">
        <form [formGroup]="Bid" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Stay at the top to win.</label>
          </div>
          <div class="mb-3 d-flex align-items-center">
            <label for="text" class="col-form-label me-2">How much increment on bid:</label>
            <input type="number" class="form-control" id="text" formControlName="myBid" />
          </div>
          <div *ngIf="Bid.get('myBid')?.touched && Bid.get('myBid')?.invalid">
            <small class="text-danger" *ngIf="Bid.get('myBid')?.errors?.['required']">
              Bid amount is required.
            </small>
            <small class="text-danger" *ngIf="Bid.get('myBid')?.errors?.['min']">
              Minimum bid amount is 200000.
            </small>
            <small class="text-danger" *ngIf="Bid.get('myBid')?.errors?.['max']">
              Maximum bid amount is 300000000.
            </small>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Set Bid</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
