.modal-title,
.modal-body .mb-3:first-child,
.modal-footer {
    text-align: center;
}

.modal-header {
    justify-content: center;
}

.modal-body .d-flex {
    display: flex;
    align-items: center;
}

.modal-body .col-form-label {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 17.61px;
    margin-bottom: 0;
}

.modal-body .form-control {
    border: 1px solid #7b8288;
}

.modal-footer {
    justify-content: center;
}

.btnstyle {
    background: rgba(68, 85, 59, 1);
    border: none;
    width: 80px;
    height: 40px;
    border-radius: 15px;
    color: white;
}
.price {
    appearance: none;
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }