<div class="modal fade" id="setBidModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Set Auto Bid</h1>
      </div>
      <div class="modal-body">
        <form [formGroup]="Bid" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Stay at the top to win.</label>
          </div>
          <div class="mb-3 d-flex align-items-center justify-content-between">
            <label for="text" class="col-form-label me-2">How much increment on bid:</label>
            <div class="d-flex align-items-center">
              <span class="me-2">PKR:</span>
              <input type="number" class="form-control price" id="text" formControlName="price" />
            </div>
          </div>
          <div *ngIf="Bid.get('price')?.touched && Bid.get('price')?.invalid">
            <div class="text-danger" *ngIf="Bid.get('price')?.errors?.['required']">
                Bid amount is required.
            </div>
            <div class="text-danger" *ngIf="Bid.get('price')?.errors?.['min']">
                Minimum Bid amount is 6 digits.
            </div>
            <div class="text-danger" *ngIf="Bid.get('price')?.errors?.['max']">
                Maximum Bid amount is 8 digits.
            </div>
        
          </div>
          <div class="modal-footer">
            <button type="submit" class="btnstyle">Set Bid</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
