.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.cardDetails {
    padding: 15px;
}


.bid-btn {
    display: block;
    
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    background: transparent;
    border: 1px solid rgba(187, 187, 187, 1);

}

.bid-btn:hover {
    background-color: rgba(68, 85, 59, 1);
    color: white;
}

a {
    text-decoration: none;
}