    <div class="hero">
        <nav class="navbar">
            <div class="navbar">
                <img src="assets/Logo.svg" alt="Logo" class="navbar-logo">
                <div class="search-bar">
                    <div class="search-input">
                        <img src="assets/Search icon.svg" alt="Search Icon">
                        <input type="text" class="search" placeholder="Search...">
                    </div>
                    <button>Advance Search</button>
                </div>
            </div>
            <div class="navbar">
                <ul class="navbar-list">
                    <li><a href="">ALL LISTINGS</a></li>
                    <li><a href="">CONTACT US</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href=""><img src="assets/Notification icon.svg" alt="Bell"></a></li>
                    <li><a href="" class="products-button">See All Products</a></li>
                    <li><a><img src="assets/Navbar2img.svg" alt="img" style="width: 40px; height: 40px;"></a></li>
                </ul>
            </div>
        </nav>
    </div>

