<div class="Listings">

    <p>
        Live Listings
    </p>
    <div class="maindiv">
        <div class="card-gallery">
            <div class="card" let *ngFor="let item of cards">
                <img [src]="item.ImgSrc" [alt]="item.ImgAlt" class="card-image" />
                <div class="cardDetails">
                    <p>{{item.des}}</p>
                    <p>{{item.pID}}</p>
                    <p>{{item.cBid}}</p>
                    <p>{{item.lctn}}</p>
                </div>
                <button class="bid-btn">place Bid</button>
            </div>
        </div>
    </div>
</div>


