<!-- src/app/details/details.component.html -->
<div class="d-flex flex-row mt-3 ms-5" style="font-size: 25px;">
  <a href="/" style="text-decoration: none; color: black;">&#8672; &#160;Home&#160;/&#160;</a>
  <p style="color: #AAAAAA;"> Details</p>
</div>

<div class="container mt-5 mb-5 d-flex flex-column align-items-center" style="width: 80%; max-width: 700px;">
  <div class="d-flex flex-row justify-content-between flex-wrap w-100">
    <div class="table-responsive m-2">
      <h4 class="text-center">Product Details</h4>
      <table class="table vertical-table">
        <tbody>
          <tr>
            <td style="color: rgba(142, 142, 142, 1);">Car Name:</td>
            <td>{{ productInfo?.carname }}</td>
          </tr>
          <tr>
            <td style="color: rgba(142, 142, 142, 1);">Product ID:</td>
            <td>{{ productInfo?.productid }}</td>
          </tr>
          <tr>
            <td class="tdcolor">City:</td>
            <td>{{ productInfo?.city }}</td>
          </tr>
          <tr>
            <td class="tdcolor">Basic Price:</td>
            <td>{{ productInfo?.price }}</td>
          </tr>
          <tr>
            <td class="tdcolor">Current Bid:</td>
            <td>{{ productInfo?.currentBid }}</td>
          </tr>
          <tr>
            <td class="tdcolor">Upload Date:</td>
            <td>{{ productInfo?.created_at }}</td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <a href="/" data-bs-toggle="modal" data-bs-target="#setBidModal">
          <button class="btnstyle">Start Bidding</button>
        </a>
      </div>
    </div>

    <div class="table-responsive m-2">
      <h4 class="text-center">Seller Information</h4>
      <table class="table vertical-table">
        <tbody>
          <tr>
            <td style="color: rgba(142, 142, 142, 1);">Name:</td>
            <td>{{ sellerInfo.name }}</td>
          </tr>
          <tr>
            <td style="color: rgba(142, 142, 142, 1);">Email:</td>
            <td>{{ sellerInfo.email }}</td>
          </tr>
          <tr>
            <td style="color: rgba(142, 142, 142, 1);">Phone No:</td>
            <td>+92{{ sellerInfo.phone }}</td>
          </tr>
          <tr>
            <td style="color: rgba(142, 142, 142, 1);">City:</td>
            <td>{{ sellerInfo.city }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5" style="width: 75%;">
  <p style="color: rgba(142, 142, 142, 1)">Description:</p>
  <div
    style="background-color: rgba(182, 182, 182, 0.2); padding: 16px; border-radius: 15px; color: rgba(142, 142, 142, 1)">
    <p>{{ description }}</p>
  </div>
</div>

<app-set-bid></app-set-bid>