<div class="d-flex flex-row mt-3 ms-5" style="font-size: 25px;">
    <a href="/" style="text-decoration: none; color: black;">&#8672; &#160;Home&#160;/&#160;</a>
    <p style="color: #AAAAAA;">My Products</p>
</div>
<div class="ms-4 mb-5 mt-3">
    <div class="d-flex flex-wrap">
        <app-card *ngFor="let item of CarData; index as i"
        [status]="item.status"
        [image]="item.image"
        [carname]="item.carname"
        [price]="item.price"
        [eyeTxt]="item.eyeTxt"
        [city]="item.city"
        [key]="i"
        [isRecentWinsComponent]="false">
        >
        </app-card>
    </div>
</div>