.card-custom {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.card-img-top {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  background: rgba(0, 255, 178, 1);
}

.card-title {
  font-size: 13px;
  font-weight: 500;
}

.table {
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 12px;
  text-align: center;
}

th {
  font-size: 18px;
  font-weight: 400;
}

td {
  font-size: 14px;
  font-weight: 400;
}

.btnstyle {
  padding: 4px;
  border-radius: 4px;
  background: rgba(214, 214, 214, 1);
  border: none;
  width: 80px;
}
.btn1Style{
  border: 1px rgb(112, 107, 107);
padding: 6px 30px 6px 30px;
border-radius: 8px;
}
.btn1Style:hover{
  background-color: rgba(68, 85, 59, 1);
  color: white;
}
.btn2Style{
padding: 6px 30px 6px 30px;
border-radius: 8px;
background:rgba(68, 85, 59, 1) ;
border: none;
color: white;
}