<div class="d-flex flex-row mt-3 ms-5" style="font-size: 25px;">
    <a href="/" style="text-decoration: none; color: black;">&#8672; &#160;Home&#160;/&#160;</a>
    <p style="color: #AAAAAA;">Transaction History</p>
</div>
<div class="container mt-5 mb-5 d-flex flex-column">
    <p class="fw-bolder mb-5 mt-5 text-center" style="font-size: xx-large;">
        <span style="color: black; margin-right: 5px;">Transaction</span>
        <span style="color: rgba(68, 85, 59, 1);">History</span>
    </p>

    <div class="row justify-content-center ">
        <div class="col-md-3 mb-3">
            <div class="card card-custom">
                <img src="assets/th1.svg" alt="Card Image" class="card-img-top"/>
                <p class="card-title">Earned</p>
                <h5 class="card-text">PKR {{price}}</h5>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card card-custom">
                <img src="assets/th2.svg" alt="Card Image" class="card-img-top"/>
                <p class="card-title">Withdraw</p>
                <h5 class="card-text">PKR {{price}}</h5>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card card-custom">
                <img src="assets/th3.svg" alt="Card Image" class="card-img-top"/>
                <p class="card-title">Service Charges</p>
                <h5 class="card-text">PKR {{price}}</h5>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card card-custom">
                <img src="assets/th4.svg" alt="Card Image" class="card-img-top"/>
                <p class="card-title">Pending Clearance</p>
                <h5 class="card-text">PKR {{price}}</h5>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center mt-5">
        <h6 class="me-4 mb-0">See Your Transaction</h6>
        <button (click)="showTransaction('pay')" class="btn1Style me-3 ">Pay</button>
        <button (click)="showTransaction('withdraw')" class="btn2Style">Withdraw</button>
    </div>
    <div class="transHistory mt-5" *ngIf="currentTransaction === 'pay'">
        <table class="table text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Pay</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of payTransactions; let i = index">
                    <td>{{ item.date }}</td>
                    <td>PKR: {{ item.amount }}</td>
                    <td>{{ item.txt }}</td>
                    <td>
                        <button (click)="deleteRow('pay', i)" class="btnstyle">Clearing</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="transHistory mt-5" *ngIf="currentTransaction === 'withdraw'">
        <table class="table text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Withdraw</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of withdrawTransactions; let i = index">
                    <td>{{ item.date }}</td>
                    <td>PKR: {{ item.amount }}</td>
                    <td>{{ item.txt }}</td>
                    <td>
                        <button (click)="deleteRow('withdraw', i)" class="btnstyle">Clearing</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>