.container {
  margin-top: 20px;
  justify-content: center;
}
.carousel{
  width: 685px; 
  height: 300px;
}

.table-responsive {
  border: 1px solid #dee2e6;
  padding: 20px;
  border-radius: 5px;
  width: 305px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btnstyle {
  background: rgba(68, 85, 59, 1);
  color: white;
  padding: 8.7px 20px 8.7px 20px;
  border-radius: 4.35px;
  border: none;
}

a {
  text-decoration: none;
}

.tdcolor {
  color: rgba(142, 142, 142, 1);
}
.Listings {
    padding: 20px;
    margin-top: 60px;
    background-color: rgba(255, 255, 255, 1);
}

.Listings p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.card-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 787px){
  .carousel{
    width: 300px; 
    height: auto;
  }
  
}