<div class="work-stn">
    <p>
        How it works
    </p>
</div>
<div class="container">
    <div class="text-side">
        <div class="text1">
            <h3>Creata an account 
                <img src="assets/worktxt.svg" alt="worktxt"/></h3>
            <p>Create your account through an easy process and upload your ID to get verified.</p>
        </div>
        <div class="text2">
            <h3>Scroll Through Different Listings</h3>
            <p>Scroll through different listings . Find your desire products using search or scroll through our latest listigs</p>
        </div>
        <div class="text3">
            <h3>Bid & Win!</h3>
            <p>Place your bids and get product delivered.</p>
        </div>

        <button class="work-btn"> Get started now</button>
    </div>
    <img class="large-image" src="assets/work.svg" alt="Image description">
</div>