<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">

                <ul class="list-group mb-3">
                    <li class="d-flex justify-content-between align-items-center mb-2">
                        <a href="#"><img src="assets/Navbar2img.svg" alt="img"></a>
                        <div>
                            <span class="name-font">Nabeel Ahmad</span><br>
                            <span class="gmail-font">nabeelahmadkhan03gmail.com</span>
                        </div>
                    </li>
                </ul>

                <h6 class="mt-3">Profile Options</h6>
                <ul class="list-group mb-3">
                    <li class="d-flex align-items-center text-container mb-2">
                        <a href="#"><img src="assets/modal1.svg" alt="Profile Setting" class="me-2">  <span class="name-font">Profile Setting</span></a>
                      
                    </li>
                    <li class="d-flex align-items-center text-container mb-2">
                        <a href="#"><img src="assets/modal2.svg" alt="Verification Center" class="me-2"> <span class="name-font">Verification Center</span>
                        </a>
                                       </li>
                    <li class="d-flex align-items-center text-container mb-2">
                        <a href="/myOrders"><img src="assets/modal3.svg" alt="My Orders" class="me-2">    <span class="name-font">My Orders</span></a>
                    
                    </li>
                    <li class="d-flex align-items-center text-container mb-2">
                        <a href="#"><img src="assets/modal4.svg" alt="Helps" class="me-2"><span class="name-font">Helps</span></a>
                        
                    </li>
                    <li class="d-flex align-items-center text-container mb-2">
                        <a href="/myProducts"><img src="assets/modal5.svg" alt="My Products" class="me-2">   <span class="name-font">My Products</span></a>
                     
                    </li>
                    <li class="d-flex align-items-center text-container mb-2">
                        <a href="#"><img src="assets/modal6.svg" alt="LogOut" class="me-2"><span class="name-font">LogOut</span></a>
                        
                    </li>
                </ul>

                <h6 class="mt-3">Payment Options</h6>
                <ul class="list-group">
                    <li class="d-flex align-items-center text-container mb-2">
                        <a href="#"><img src="assets/modal7.svg" alt="Payment Setting" class="me-2">
                            <span class="name-font">Payment Setting</span>
                        </a>
                       
                    </li>
                    <li class="d-flex align-items-center text-container">
                        <a href="#"><img src="assets/modal8.svg" alt="Transaction History" class="me-2"> <span class="name-font">Transaction History</span></a>
                       
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
